<a href="https://colab.research.google.com/github/raphaelmoda/FIAP_Big_Data_Science/blob/main/FIAP_BigData_AULA_02.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
# Carga da biblioteca pandas para manipular conjunto de dados
import pandas as pd
##Dataframe (tabela) com dados de diamantes
df = pd.read_csv("https://raw.githubusercontent.com/diogenesjusto/FIAP/master/Gradua%C3%A7%C3%A3o/dados/diamonds.csv")

In [5]:
#Visualizar dataframe
df.head #Primeiras 5 linhas

<bound method NDFrame.head of        Unnamed: 0  carat        cut color clarity  depth  table  price     x  \
0               1   0.23      Ideal     E     SI2   61.5   55.0    326  3.95
1               2   0.21    Premium     E     SI1   59.8   61.0    326  3.89
2               3   0.23       Good     E     VS1   56.9   65.0    327  4.05
3               4   0.29    Premium     I     VS2   62.4   58.0    334  4.20
4               5   0.31       Good     J     SI2   63.3   58.0    335  4.34
...           ...    ...        ...   ...     ...    ...    ...    ...   ...
53935       53936   0.72      Ideal     D     SI1   60.8   57.0   2757  5.75
53936       53937   0.72       Good     D     SI1   63.1   55.0   2757  5.69
53937       53938   0.70  Very Good     D     SI1   62.8   60.0   2757  5.66
53938       53939   0.86    Premium     H     SI2   61.0   58.0   2757  6.15
53939       53940   0.75      Ideal     D     SI2   62.2   55.0   2757  5.83

          y     z
0      3.98  2.43
1      3.84  2.31
2      4.07  2.31
3      4.23  2.63
4      4.35  2.75
...     ...   ...
53935  5.76  3.50
53936  5.75  3.61
53937  5.68  3.56
53938  6.12  3.74
53939  5.87  3.64

[53940 rows x 11 columns]>

In [13]:
#Estatísticas descritivas

#Média aritmética
df[["price"]].mean()

price    3932.799722
dtype: float64

In [12]:
#Mediana
df[["price"]].median()

price    2401.0
dtype: float64

In [14]:
#Desvio padrão
df[["price"]].std()

price    3989.439738
dtype: float64

In [16]:
# Geração de amostras
#Queremos uma amostra de 3000 linhas
a1 = df.iloc[0:2999, :]
a1.shape #tamanho da matriz

(2999, 11)

In [17]:
a1[["price"]].mean()

price    2738.932978
dtype: float64

In [18]:
a1[["price"]].median()

price    2963.0
dtype: float64

In [19]:
a1[["price"]].std()

price    793.63371
dtype: float64

Conclusão: amostra a1 tem estatísticas descritivas bem diferentes da população, portanto rejeitamos para descrever ou fazer inferências

In [22]:
a2 = df.iloc[3000:5999, :]

In [23]:
a2[["price"]].mean()

price    3324.236746
dtype: float64

In [24]:
a2[["price"]].median()

price    3601.0
dtype: float64

In [25]:
a2["price"].std()

941.0001467344813

Conclusão: a2 também tem estatísticas diferentes. Tentaremos com amostra aleatória

In [27]:
#Geração de amostra aleatória
a3=df.sample(3000, random_state = 2) #random_state fixa sempre a mesma amostra aleatória, sem ele vem sempre aleatório
a3.head()

,Unnamed: 0,carat,cut,color,clarity,depth,table,price,x,y,z
30960,30961,0.40,Very Good,H,VS2,62.1,56.0,746,4.72,4.75,2.94
50149,50150,0.71,Good,E,SI2,57.8,60.0,2215,5.86,5.83,3.38
28326,28327,0.33,Premium,G,VS1,61.9,58.0,666,4.43,4.46,2.75
22444,22445,1.70,Premium,G,SI2,61.9,58.0,10472,7.61,7.57,4.70
2449,2450,0.77,Ideal,E,SI1,61.6,57.0,3189,5.87,5.91,3.63

In [28]:
a3[["price"]].mean()

price    3804.102333
dtype: float64

In [29]:
a3[["price"]].median()

price    2385.5
dtype: float64

In [30]:
a3[["price"]].std()

price    3860.31758
dtype: float64

Esta amostra aleatória tem estatísticas descritivas próximas da população